<link rel="stylesheet" href="/css/signup.css">
<div class="signup-contianer">
    <div class="form">
        <form action="/user/create-user" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <input type="email" name="email" placeholder="Enter your mail" required>
            <input type="password" name="password" placeholder="Enter Passwrod" required>
            <input type="password" name="confirmpassword" placeholder="Confirm Passwrod" required>
            <input class="sbtn" type="submit" value="Register">
        </form>
    </div>
</div>