<link rel="stylesheet" href="/css/signin.css">
<div class="signin-contianer">
    <div class="form">
        <form action="/user/create-session" method="post">
            <input type="email" name="email" placeholder="Enter your mail" required>
            <input type="password" name="password" placeholder="Enter Passwrod" required>
            <input class="sbtn  " type="submit" value="Login">
        </form>
        <div class="Google-Login">
            Sign In with  <a href="/user/auth/google"><i class="fa-brands fa-google"><span id="yellow">M A</span><span id="green">I</span><span id="blue">L</span></i></a>
        </div>
    </div>
</div>