<link rel="stylesheet" href="/css/signin.css">
<div class="signin-contianer">
    <div class="form">
        <form action="/contact-app/user/create-session" method="post">
            <input type="email" name="email" placeholder="Enter your mail" required>
            <input type="password" name="password" placeholder="Enter Passwrod" required>
            <input class="sbtn  " type="submit" value="Login">
        </form>
    </div>
</div>