<link rel="stylesheet" href="/css/signup.css">
<div class="signup-contianer">
    <div class="form">
        <form action="/user/create-user" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" required>
            <input type="email" name="email" placeholder="Enter your mail" required>
            <input type="password" name="password" placeholder="Enter Passwrod" required>
            <input type="password" name="confirmpassword" placeholder="Confirm Passwrod" required>
            <input class="sbtn" type="submit" value="Register">
        </form>
        <div class="Google-Login">
            Sign Up with  <a href="/user/auth/google"><i class="fa-brands fa-google"><span id="yellow">M A</span><span id="green">I</span><span id="blue">L</span></i></a>
        </div>
    </div>
</div>