.signup-contianer{
    /* border: 2px solid black; */
    background-image: linear-gradient(to right, #0F2027, #203A43,#2C5364);
    min-height: 86vh;
}
.form form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    
}
.sbtn{
    width: 25%;
    margin: auto;
    border: none;
    cursor: pointer;
    color: white;
}
.signup-contianer form input{
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 10px;
    border-bottom: 1px solid #203A43;
    background-image: linear-gradient(to right, #0F2027, #203A43,#2C5364);
    color: white;
}
.Google-Login{
    color: white;
    margin-top: 10px;
}
.Google-Login a i{
    color: red;
}
#yellow{
    color: yellow;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
